<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="bss" transaction-type="RESOURCE_LOCAL">

        <class>ru.quasar.edu.bss.entity.MainDirection</class>
        <class>ru.quasar.edu.bss.entity.QuasarProject</class>
        <class>ru.quasar.edu.bss.entity.QuasarProduct</class>
        <class>ru.quasar.edu.bss.entity.Competitor</class>
        <class>ru.quasar.edu.bss.entity.MarketSegment</class>
        <class>ru.quasar.edu.bss.entity.BusinessType</class>
        <class>ru.quasar.edu.bss.entity.CompetitorProduct</class>
        <class>ru.quasar.edu.bss.entity.Feature</class>
        <class>ru.quasar.edu.bss.entity.Contacts</class>
        <class>ru.quasar.edu.bss.entity.ContactKind</class>
        <class>ru.quasar.edu.bss.entity.Region</class>
        <class>ru.quasar.edu.bss.entity.Fund</class>
        <class>ru.quasar.edu.bss.entity.Grant</class>
        <class>ru.quasar.edu.bss.entity.EducationalOrganization</class>
        <class>ru.quasar.edu.bss.entity.ImportedPostCode</class>
        <class>ru.quasar.edu.bss.entity.Area</class>
        <class>ru.quasar.edu.bss.entity.City</class>
        <class>ru.quasar.edu.bss.entity.SubCity</class>
        <class>ru.quasar.edu.bss.entity.EducationalOrganizationFormName</class>
    </persistence-unit>
</persistence>
